html {
  background: url ("./imgs/bg-home.jpg")
}
.home_links a {
    position: absolute;
    display: block;
    /*text-indent: -9999em;*/
}



@media (max-width: 570px){
.nav_mas {
    left: 240px;
    top: 30px;
    width: 98px;
    height: 30px;
}
}

@media (max-width: 768px){
.nav_mas {
    left: 272px;
    top: 42px;
    width: 122px;
    height: 42px;
}
}

@media (max-width: 992px){
.nav_mas {
    left: 386px;
    top: 42px;
    width: 150px;
    height: 52px;
}
}
