.home_links a {
    position: absolute;
    display: block;
    text-indent: -9999em;
}

.nav_in{

}

@media (max-width: 570px){
.link_availability {
    left: 240px;
    top: 30px;
    width: 98px;
    height: 30px;
}
}

@media (max-width: 768px){
.link_availability {
    left: 272px;
    top: 42px;
    width: 122px;
    height: 42px;
}
}

@media (max-width: 992px){
.link_availability {
    left: 386px;
    top: 42px;
    width: 150px;
    height: 52px;
}
}
