{% extends "base.html" %}
{% block content %}

  <div class="tool_desk">
    <img src="../static/tool_desk.jpg" alt="tools of chinese calligraphy"></img>


    <div class="bi">
        <div class="h_img"><a href="#"></a></div>
        <div class="h_info">
          <h3>Traditional Brush</h3>
          <p>The traditional brush (bi) are made of animal hair, and hair of different animals can be combined to create different textures. </p>
        </div>
    </div>


    <div class="mo">
        <div class="h_img"></div>
        <div class="h_info">
          <h3>Traditional Ink</h3>
          <p>Traditional Chinese ink is usually solidified into sticks for easier transport and preservation. </p>
        </div>
    </div>


    <div class="zhi">
        <div class="h_img"></div>
        <div class="h_info">
          <h3>Traditional Paper</h3>
          <p>Paper is usually made from parts of the rice plant, like rice straw or rice flour. The paper in the old days is very thin and light. Thus it can adsorb ink easily. </p>
        </div>
    </div>


    <div class="yan">
        <div class="h_img"></div>
        <div class="h_info">
          <h3>Traditional Ink Stone</h3>
          <p>An inkstone is literally a stone mortar for the grinding and containment of ink.</p>
        </div>
    </div>

  </div>

  <!-- mobile view -->

  <div class="mobile_tool">

    <div class="toolimgbox">
      <img src="../static/bi.png" alt="The traditional ink">
    </div>

    <div class="tooldescriptionbox">
      <p>The ink (mo) is commonly made by burning pine or another wood in an earthenware container, mixing dense ash with glue, and compressing it into an ink stick, or another form. An unusual antique piece of ink is shaped like a ruyi, a scepter tribute offering, that conveys wishes for happiness and good fortune. After shaping, it takes about two years for the ink to dry, in a totally dry and dark environment.</p>
    </div>

    <div class="toolimgbox">
      <img src="../static/mo.png" alt="The traditional ink">
    </div>

    <div class="tooldescriptionbox">
      <p>The ink (mo) is commonly made by burning pine or another wood in an earthenware container, mixing dense ash with glue, and compressing it into an ink stick, or another form. An unusual antique piece of ink is shaped like a ruyi, a scepter tribute offering, that conveys wishes for happiness and good fortune. After shaping, it takes about two years for the ink to dry, in a totally dry and dark environment.</p>
    </div>

    <div class="toolimgbox">
      <img src="../static/yan.png" alt="The traditional inkstone">
    </div>

    <div class="tooldescriptionbox">
      <p>An inkstone is literally a stone mortar for the grinding and containment of ink. Traditional Chinese ink is usually solidified into sticks for easier transport and preservation. Water is usually kept in a ceramic container and sprinkled on the inkstone, which has a generally flat surface. The inkstick would be ground with the flat surface of the inkstone. By mixing ink with different amounts of water, the calligrapher or artist can create different densities and innumerable shades of black and gray.</p>
    </div>

    <div class="toolimgbox">
      <img src="../static/zhi.png" alt="The traditional paper">
    </div>

    <div class="tooldescriptionbox">
      <p>Paper is usually made from parts of the rice plant, like rice straw or rice flour. The paper in the old days is very thin and light. Thus it can adsorb ink easily.</p>
    </div>

</div>

{% endblock %}
