  @media(max-width: 2000px) {
  body {
    background-color: white;
    left: 0;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
  }
  header {
    margin: 0px;
  }
  footer {
    background: url('../imgs/12.jpg') repeat left top;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    font-size: 10px;
    text-decoration: none;
    border: 1px solid black;
  }
  nav ul {
    border-top: 1px solid #636366;
    list-style: none;
    display: -webkit-inline-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .smallnav li {
    display: block;
    border-bottom: 1px solid #636366;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 25%;
    text-align: center;
  }
  .smallnav li a:hover {
    color: red;
  }
  .smallnav a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .contentbackground {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    border: 1px solid black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    text-align: center;
    box-sizing: border-box;

  }
  .imgbox {
    width: 40%;
    height: 350px;
    border: 1px solid black;
    margin: 0px;
    display: inline-block;
  }
  .descriptionbox {
    width: 40%;
    height: 350px;
    border: 1px solid black;
    margin: 0px;
    display: inline-block;
  }
  .toolimgbox{
    width: 100%;
    height: 550px;
    border: 1px solid black;
    margin: 0px;
    display: inline-block;
  }
  .tooldescriptionbox{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    margin: 0px;
    display: inline-block;
  }
