@media ( max-width: 639px) {
  .timelinebox {
    list-style: none;
  }
  .timelinebox .item {
    margin-bottom: 60px;
  }
}
@media ( max-width: 840px) {
  .timelinebox {
    list-style: none;
  }
  .timelinebox .item {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}
@media ( min-width: 841px) {
  .timelinebox {
    width: 860px;
    height: 1000px;
    margin: 0 auto;
    border: 3px solid;
  }
  .item {
    width: 408px;
    margin: 20px 10px 10px 10px;
    float: left;
    background-color: #ffffff;
    border: solid 1px #B4BBCD;
    min-height: 50px;
    text-align: justify;
    word-wrap: break-word;
  }
  /*.timeline-container {
    width: 16px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    display: block;
  }
  .timeline {
    margin: 0 auto;
    background-color: #e08989;
    display: block;
    float: left;
    height: 100%;
    left: 428px;
    margin-top: 10px;
    position: absolute;
    width: 4px;
  }
  .timeline:hover {
    cursor: pointer;
    margin: 0 auto;
  }*/

}
