<!DOCTYPE html>
<html lang="en">

<head>
  <title>Timeline</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/timeline.css">

</head>

<body>
  <div class="timelinebox">
    <!-- <div class="timeline-container">
      <div class="timeline">
      </div>
    </div> -->
    <div class= "vertical-line">
    </div>
    <div class=item>
      <p class="timeline-date">Feb 2007</p>
      <div class="timeline-content">
        <h3>Canada</h3>
        <p>I moved to Vancouver, Canada to broaden my horizons.</p>
      </div>
    </div>
    <div class=item>
      <p class="timeline-date">May 2015</p>
      <div class="timeline-content">
        <h3>USA</h3>
        <p>I moved to Vancouver, Canada to broaden my horizons.I moved to Ann Arbor, Michigan to seek for the coldest winterI moved to Ann Arbor, Michigan to seek for the coldest winterI moved to Ann Arbor, Michigan to seek for the coldest winterI moved
          to Ann Arbor, Michigan to seek for the coldest winter</p>
      </div>
    </div>
    <div class=item>
      <p class="timeline-date">Feb 2016</p>
      <div class="timeline-content">
        <h3>Canada</h3>
        <p>I moved to Vancouver, Canada to broaden my horizons.I moved to Ann Arbor, Michigan to seek for the coldest winterI moved to Ann Arbor, Michigan to seek for the coldest winterI moved to Ann Arbor, Michigan to seek for the coldest winterI moved
          to Ann Arbor, Michigan to seek for the coldest winter</p>
      </div>
    </div>
    <div class=item>
      <p class="timeline-date">Feb 2017</p>
      <div class="timeline-content">
        <h3>Canada</h3>
        {% if session.username %}
        <p>Hello {{session['username']}}</p>
        {% else %}
        <p>The session is not here!</p>
        {% endif %}
      </div>
    </div>
  </div>




</body>

</html>
