<!DOCTYPE html>
<html lang="en">

<head>
  <title>TeamProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/default.css">
</head>

<body>

  <header>
    <nav class="navsmall">
      <ul>
        <li><a href="index.html">Index</a></li>
        <li><a href="history.html">History</a></li>
        <li><a href="tools.html">Tools</a></li>
        <li><a href="community.html">Community</a></li>
      </ul>
    </nav>
  </header>

  <!-- <content>
    This is the img
  </content>
  <content>
    This is the description
  </content>

  <content>
   img
  </content>

<content>
  decription
</content> -->
<div class="mypage">
  <h2>Personal Profile</h2>
  <form action="{{ url_for('mypage') }}" method="post" >
   {{ form.hidden_tag() }}
   {{ form.name.label }} {{ form.name(placeholder="Name") }}
   {{ form.password.label }} {{ form.password(placeholder="Password") }}
   {{ form.submit }}
   {% for messages in get_flashed_messages() %}
     <div>
       {{messages}}
     </div>
   {% endfor %}
   {% if session.username %}
   {{session['username']}}
   {% endif %}
   {{data}}
  </form>
</div>



  <footer>


  </footer>

</body>

</html>
