{%extends "base.html" %}
{% block content %}


<div class="login">
  <h2>Personal Collection</h2>
  <form action="{{ url_for('mypage') }}" method="post" >
   {{ form.hidden_tag() }}
   {{ form.name.label }} {{ form.name(placeholder="Name") }}
   {{ form.password.label }} {{ form.password(placeholder="Password") }}
   {{ form.submit }}
   {% for messages in get_flashed_messages() %}
     <div>
       {{messages}}
     </div>
   {% endfor %}
   <!-- {% if session.username %}
   {{session['username']}}
   {% endif %} -->
   <!-- {{data2}} -->
  </form>
</div>
<div id='mycollectionimg'>
  <img id="mypageimg" src = {{data2}}/>
</div>

{% endblock %}
