<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./css/abbey.css">
  <link rel="stylesheet" type="text/css" href="./css/navbar.css">
</head>
<link rel="icon" type="image/png" href="./imgs/favicon.ico">

<body>
  <header>
    <h1 class="nav_in" href="index.html">Chinese Calligraphy</h1>
    <nav>
      <ul>
        <li onmouseover="spread(this)" onmouseout="back(this)"><a href="welcome.html">Index</a></li>
        <li onmouseover="spread(this)" onmouseout="back(this)"><a href="masterpiece.html">Masterpiece</a></li>
        <li onmouseover="spread(this)" onmouseout="back(this)"><a href="history.html">History</a></li>
        <li onmouseover="spread(this)" onmouseout="back(this)"><a href="tools.html">Tools</a></li>
        <li onmouseover="spread(this)" onmouseout="back(this)"><a href="mycollection.html">My collection</a></li>
      </ul>

    </nav>
  </header>
  <script>
    function spread(li) {
      li.style.background = "url('./imgs/navbase.gif') no-repeat";
      li.style.backgroundSize = "auto 100px";
    }

    function back(li) {
      li.style.background = "url('./imgs/navbase.png') center top no-repeat"
    }
  </script>

  <div class="register">
    <h2>Register</h2>
    <form action="{{ url_for('register') }}" method="post" >
     {{ form.hidden_tag() }} {{ form.name.label }} {{ form.name(placeholder="Name") }}


     {{ form.password.label }} {{ form.password(placeholder="Password") }}

     {{ form.submit }}

    </form>
  </div>
</body>

</html>
